:root{
    --main: #490B3D;
    --auxiliary: #f8b195;
    --auxiliary-bold: #f672a0;
    --text: cornsilk;
    --text-1: aliceblue;
    --text-2: #F4DB7D;
    --text-pure: white;
    --float: #D48166;
    --border: #333;
    --hover-size: #ccc;
    --sticky-header: #7D3780;
    --sticky-a: black;
    --hover-sticky-a: #866f99;
    --footer-a: rgb(37, 28, 28);
    --item-product: #69205b;
    --item-product-logo: rgba(255, 255, 255, 0.04);
    --item-product-color-red: #e91e63;
    --item-product-color-blue: #0389f4;
    --item-product-color-green: #9bdc28;
    --footer-background: rgb(12, 12, 32);
    --modal-background: rgba(39, 39, 63, 0.5);
    --success: green;
    --error: red;
    --banner__icon: linear-gradient(90deg, rgb(170, 43, 170), rgb(59, 59, 228));
}

body{
    background-color: var(--main);
}

main{
    margin-top: 150px;
}

a{
    border-radius: 0px;
    padding: 10px;
    transition: .3s ease;
}

.text-color--main{
    color: var(--auxiliary);
}

.text-color--white{
    color: var(--text);
}

.text--bold{
    font-weight: bold;
}

.text--center{
    text-align: center;
}

.display--block{
    display: block;
}

.display--flex{
    display: flex;
}

.ul-list-style--none{
    list-style: none;
}

.text-decoration--none{
    text-decoration: none;
}

.justify-content--space-between{
    justify-content: space-between;
}

.justify-content--space-around{
    justify-content: space-around;
}

.justify-content--center{
    justify-content: center;
}

.align-item--center{
    align-items: center;
}

.flex--column{
    flex-direction: column;
}