

main{
    min-height: 480px;
}

.des{
    width: 60%;
}

.container article{
    flex-wrap: wrap;
}

.des__title,
.des__product,
section .sale,
section .sum{
    background-color: var(--float);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.title__detail{
    width: 35%;
}

.product__buy{
    width: 35%;
}

.buy__handle-quantity{
    position: relative;
    right: 20px;
}

.buy__handle-quantity input{
    width: 50px;
}

.buy__handle-quantity input::-webkit-inner-spin-button,
.buy__handle-quantity input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btn-outline-main-color{
    outline: none;
    border: 1px var(--border) solid;
}

.btn-outline-main-color:hover{
    background-color: var(--border);
    color: var(--text);
}

.product__buy > h6{
    margin-left: auto;
}

.product__buy__del{
    position: relative;
    background: none;
    border: none;
    bottom: 3px;
}

.product__buy__del:hover{
    color: var(--auxiliary);
    cursor: pointer;
}

.single-product{
    margin: 40px 0;
}

.buy{
    max-height: 300px;
    width: 35%;
}

.product__info{
    flex-direction: column;
}

.sale__header{
    margin-right: 20px;
}

.sum__header{
    border-bottom: 1px var(--border) solid;
}

.sum__body{
    margin-top: 10px;
}

@media screen and (max-width: 860px) {
    .des,
    .buy{
        width: 100%;
    }

    .des h6{
        width: 100px;
    }

    .des h4,
    .des h5,
    .des h6,
    .des input{
        font-size: 12px;
    }

    .title__detail h5:nth-child(1){
        position: relative;
        right: 14%;
    }

    .product__buy__del{
        display: block;
    }

    .btn{
        padding: 5px;
        height: 25px;
        display: flex;
        align-items: center;
    }

    .des input{
        height: 25px;
        width: 25px;
    }

    .btn-buy{
        padding: 20px;
    }
}