
footer{
    margin-top: 20px;
}

.list-social__item__link:hover{
    cursor: pointer;
    color: var(--footer-a);
    background-color: var(--auxiliary);
    box-shadow: 1px 1px 5px 5px var(--auxiliary);
    transition: .3s ease;
    border-radius: 50px;
}