

article .list{
    margin: 20px 0px;
}

.list{
    flex-wrap: wrap;
}

.list .container{
    width: 30%;
    position: relative;
}

.list__item{
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--item-product);
    box-shadow: 1px 1px 6px 1px var(--sticky-a);
}

.list__item > p{
    display: none;
}

.list__item::before{
    content: '';
    clip-path: circle(150px at 80% 20%);
    position: absolute;
    background-color: rgb(47, 175, 47);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    z-index: 10;
}

.list:nth-child(1) .container:nth-child(1) .list__item::before{
    background-color: #ac0505;
}

.list:nth-child(1) .container:nth-child(2) .list__item::before{
    background: linear-gradient(180deg, orange,blue);
}

.list:nth-child(1) .container:nth-child(3) .list__item::before{
    background-color: rgb(201, 200, 200);
}

.list:nth-child(2) .container:nth-child(1) .list__item::before{
    background-color: rgb(105, 104, 104);
}

.list:nth-child(2) .container:nth-child(2) .list__item::before{
    background-color: rgb(37, 37, 37);
}

.list:nth-child(2) .container:nth-child(3) .list__item::before{
    background-color: rgb(29, 29, 138);
}

.list:nth-child(3) .container:nth-child(1) .list__item::before{
    background-color: rgb(190, 190, 50);
}

.list:nth-child(3) .container:nth-child(2) .list__item::before{
    background-color: rgb(253, 68, 99);
}

.list:nth-child(3) .container:nth-child(3) .list__item::before{
    background: linear-gradient(rgb(63, 63, 236),rgb(177, 2, 2));
}

.list:nth-child(4) .container:nth-child(1) .list__item::before{
    background: linear-gradient(360deg,rgb(50, 50, 184),rgb(185, 180, 180));
}

.list:nth-child(4) .container:nth-child(2) .list__item::before{
    background-color: rgb(219, 164, 174);
}

.list:nth-child(4) .container:nth-child(3) .list__item::before{
    background-color: rgb(24, 214, 24);
}

.list--hover > .list__item::before{
    clip-path: circle(100%);
}

.list__item::after{
    z-index: 1;
    content: 'Nike';
    position: absolute;
    color: var(--item-product-logo);
    top: 30%;
    left: -20%;
    width: 100%;
    height: 100%;
    font-size: 200px;
    font-weight: 800;
    font-style: italic;
    transition: .5s ease;
}

.list__item img{
    position: absolute;
    z-index: 10000;
    width: 300px;
    transition: .5s ease;
    top: 40%;
}

.list--hover img{
    top: 10%;
    transform: rotate(-45deg);
}

.list:nth-child(1) .container:nth-child(2) img{
    width: 270px;
    left: 10%;
}

.list:nth-child(2) .container:nth-child(1) img{
    top: 20%;
}

.list:nth-child(2) .container:nth-child(2) img{
    width: 270px;
    left: 10%;
}

.list:nth-child(4) .container:nth-child(1) img{
    transform: rotate3d(0,1,0,180deg);
    top: 50%;
}

.list:nth-child(4) .container:nth-child(3) img{
    width: 270px;
    transform: rotate3d(0,1,0,180deg);
    top: 30%;
    left: 5%;
}

.list:nth-child(2) .container:nth-child(1).list--hover img{
    top: -5%;
}

.list:nth-child(4) .container:nth-child(1).list--hover img{
    transform: rotate3d(.5,1,0,180deg);
    top: 20%;
}

.list:nth-child(4) .container:nth-child(3).list--hover img{
    transform: rotate3d(.5,1,0,180deg);
    top: 0;
}

.list__item .item__descrip{
    z-index: 1000;
    position: absolute;
    top: 70%;
    left: 25%;
    transition: .5s ease;
}

.list--hover .item__descrip{
    top: 60%;
    opacity: 1;
    visibility: initial;
}

.item__descrip{
    color: var(--text);
    transition: .5s ease;
    opacity: 0;
    visibility: hidden;
}

.item__descrip span{
    justify-content: center;
    color: var(--sticky-a);
    width: 26px;
    height: 26px;
    padding: 0px 5px;
    margin: 0px 5px;
}

.item__descrip h3{
    font-size: 20px;
}

.item__descrip .size span{
    background-color: var(--text-1);
    border-radius: 5px;
}

.item__descrip .size span:hover{
    background-color: var(--hover-size);
    cursor: pointer;
}

.item__descrip .color span{
    border-radius: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.item__descrip .color span:nth-child(2){
    background-color: var(--item-product-color-red);
}

.item__descrip .color span:nth-child(3){
    background-color: var(--item-product-color-blue);
}

.item__descrip .color span:nth-child(4){
    background-color: var(--item-product-color-green);
}

.item__descrip .btn--buy{
    border-radius: 20px;
    border: none;
    padding: 10px;
    transition: .5s ease;
}

.item__descrip .btn--buy:hover{
    background-color: var(--hover-size);
}



@media screen and (max-width: 860px) {
    .list .container{
        width: 100%;
        margin-bottom: 20px;
    }   

    .list__item > p{
        display: block;
        color: cornsilk;
        position: absolute;
        left: 45%;
        top: 83%;
        font-weight: bold;
    }
    
}